<div class="bg-white px-10 py-5 rounded-xl">
  <h1 class="font-medium">Petition Title</h1>
  <h5 class="font-semibold">Subtext</h5>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, nihil ad? Quis ipsa reiciendis similique vero. Cum minus cumque earum omnis aut illum quos numquam, dolor incidunt nostrum ipsam totam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis in ut hic labore nulla laboriosam facilis eaque a fugiat perspiciatis, doloremque eum error quo nesciunt velit obcaecati expedita enim iure! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corporis consequatur magni laboriosam non obcaecati, esse illo autem veniam ullam, repellendus pariatur cumque ad, ipsam quis perspiciatis voluptas quasi molestias? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum alias velit quis, aliquid adipisci dignissimos rerum ipsum expedita asperiores. Error assumenda natus eligendi illum, totam alias at tempore aliquid earum.</p>
  <div class="p-2 flex flex-row-reverse w-ful">
    <button mat-stroked-button>Endorse Now</button>
  </div>
</div>